.no-info {
  border-radius: 6px;
  background: rgb(36, 36, 36);
  color: rgb(199, 99, 63);
  text-align: center;
  padding: 41px;
  word-break: normal;
  overflow-wrap: break-word;
  border-left: solid orangered;
  border-right: solid orangered;

}

.no-info-title {
  font-size: 32px;
}

.no-info-message {
  font-size: 14px;
}
