<div class="employee-list">
  <div class="card mb-3">
    <div class="card-body">
      <div class="row">
        <div class="d-grid col-4">
          <button type="button" class="btn btn-lg btn-custom" routerLink="../create/" >Crear</button>
        </div>
        <div class="d-grid col-4">
          <button type="button" class="btn btn-lg btn-custom">Búsqueda</button>
        </div>
        <div class="d-grid col-4">
          <button type="button" class="btn btn-lg btn-custom" (click)="onRefreshList()">Actualizar</button>
        </div>
      </div>
    </div>
  </div>

  <app-no-info *ngIf="employees.length == 0"></app-no-info>

  <ng-container *ngIf="employees.length > 0">

    <h3>Listado de empleados</h3>

    <table class="table mt-3">
      <thead class="table-dark">
        <tr>
          <th>Nombre</th>
          <th>Email</th>
          <th>Puesto</th>
          <th>RFC</th>
          <th>Fecha Alta</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let employee of employees">
          <tr>
              <td>{{ employee.fullName }}</td>
              <td>{{ employee.email }} </td>
              <td>{{ employee.position }} </td>
              <td>{{ employee.rfc }} </td>
              <td>{{ employee.creatAt | date:'dd/MM/YYYY' }} </td>
              <td class="table-actions">
                <div class="table-action">
                  <i class="fas fa-edit" [routerLink]="['../update/' + employee.id]" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Editar empleado"></i>
                </div>
                <div class="table-action">
                  <i class="fas fa-trash-alt" (click)="onRemoveEmployee(employee.id)" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Eliminar empleado"></i>
                </div>
              </td>
          </tr>
      </ng-container>
      </tbody>
    </table>
  </ng-container>

</div>
